.post-button {
  margin-top: 50px;

  .btn {
    // color: $read-more-color;
    color: #0e869f;
    border: 2px solid #0e869f;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
    margin: 0 4px 8px 4px;
  }
  .btn:hover {
    // @extend .btn:hover;
    border-color: #13b1d2;
    color: #13b1d2;
    background: #084653;
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
